.button {
    display: inline-block;
    background-color: white;
    border: .12rem solid rgba(40,40,40,.9);
    margin-top: 1rem;
    margin-right: 1rem;
    padding: .3rem 1rem;
    color: rgba(40,40,40,.9);
    font-size: 1.2rem;
    border-radius: .4rem;
}
.button:last-of-type {
    margin-right: 0;
}
.button:hover {
    color: white;
    background-color: rgba(40,40,40,.9);
}