.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.header {
    box-shadow: 15px 4px 15px rgba(37, 89, 167, 0.699);
}
.logo {
    display: flex;
    justify-content: center;
    grid-column: 2;
}
.logo img {
    width: 24rem;
    height: 6.5rem;
}

.header .nav {
    grid-column: 3;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .button-signup {
    margin-right: 1.5rem;
}
.button-signup, .button-login {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    border: 1px solid rgba(19, 93, 212, 0.836);
    color:  rgba(19, 93, 212, 0.836);
    border-radius: .5rem;
}
