.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    height: 8rem;
    background-image: linear-gradient(
        0deg,
        rgba(120,120,120,.9), 
        rgba(130,130,130,.9), 
        rgba(140,140,140,.9)
    );
}
.header h1 {
    color: rgba(60,60,60,.9);
    font-size: 2.4rem;
    margin: 0;
    text-shadow: 3px 3px 1px rgba(180,180,180,.8);
}