.login-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    line-height: 0;
}
.login input::placeholder {
    color: rgba(10,10,10,.9);
    text-indent: .2rem;
}

.login button {
    display: inline-block;
    background-color: rgba(40,40,40,.9);
    border: none;
    width: 8rem;
    height: 2rem;
    color: rgba(240,240,240,.9);
    font-weight: 500;
    border-radius: .4rem;
}
